.App {
  text-align: center;
}


/* Navbar */

.navbar {
  top: 0;
  left: 0;
  height: 80px;
  background-color: #ffffff;
  padding: 0px 100px 0px 100px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  /* margin: 0px 100px 0px 100px; */
}

.nav-item img {
  margin-top: 20px;
}

.navMenu {
  float: right;
  margin-top: 30px;
  list-style: none;
  display: flex;
}

.navMenu li {
  padding-left: 20px;
  color: #040429;
  font-size: 18px;
  font-weight: 700;
}

.navMenu li a {
  text-decoration: none;
  color: #040429;
}

#register a{
  color: #ffffff;
  background-color: #040429;
  padding: 12px 25px 12px 25px;
  border-radius: 5px;
  text-decoration: none;
}

#register a:hover {
  color: #040429;
  background-color: #D6D6D6;
}

#register1 a{
  color: #040429;
  border: #040429 solid 1px;
  padding: 12px 25px 12px 25px;
  border-radius: 5px;
  text-decoration: none;
}

#register1 a:hover {
  color: #040429;
  background-color: #D6D6D6;
}


/* Banner */

.header {
  height: 100%;
}

.banner {
  background-image: url(./images/banner.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  left: 0px;
  top: 0px;
  /* margin: 0px 100px 0px 100px; */
  position: relative;

}

.banner-item img{
  float: right;
  margin-right: 250px;
  margin-top: 76px;
}

.banner-item1 img {
  margin-left: 210px;
  margin-top: 50px;
}

.banner-text {
  position: relative;
  text-align: center;
  margin-top: -130px;
  color: #040429;
}

.banner-text h1 {
  text-align: center;
  font-size: 60px;
  font-weight: 800;
  margin-bottom: -10px;
}

.banner-text h2 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: -5px;
}

.banner-text h3 {
  display: inline-block;
  width: 500px;
  text-align: center;
  font-size: 15px;
  font-weight: 400;
  margin-bottom: -15px;
}

.banner #register a {
  text-decoration: none;
}

.banner #register {
  text-align: center;
  margin-top: 30px;
}

.footer-widget-right {
  margin-top: -10px;
  position: relative;
  text-align: center;
  height: 40px;
}

.footer-widget-right input {
  width: 150px;
  height: 40px;
  background-color: #ffffff;
  border: none;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px 0px 0px 10px;
  padding: 5px 20px;
  margin-right: 5px;
}

.footer-widget-right button {
  width: 50px;
  height: 50px;
  padding: 5px 20px;
  border: none;
  background-color: #040429;
  color: #ffffff;
  border-radius: 0px 10px 10px 0px;
}


/* Pcs */

.pcs {
  text-align: center;
  margin-top: -100px;
}

.pcs img {
  height: 450px;
  width: 800px;
}



.mobile-menu{
  margin: 0;
  padding: 0;
  display: none;
}





/* Media Query */


@media screen and (max-width: 1012px) {
  .banner-item1 img {
    margin-left: 190px;
  }
  .pcs img {
    height: 423px;
    width: 700px;
  }
}

@media screen and (max-width: 930px) {
  .banner-item1 img {
    margin-left: 150px;
  }
}

@media screen and (min-width: 800px) {
  .banner-item1 img {
    margin-left: 120px;
  }
}

@media screen and (max-width: 800px) {
  .banner-item1 img {
    margin-left: 120px;
  }
}

@media screen and (min-width: 700px) {
  .banner-item1 img {
    margin-left: 80px;
  }
}

@media screen and (max-width: 750px) {
  .banner-item1 img {
    opacity: 0;
  }
  .banner-text h2, h3 {
    margin-top: 20px;
  }
  .banner-text h1 {
    margin-top: 60px;
  }
  .pcs img {
    height: 302px;
    width: 500px;
    margin-top: 50px;
    position: relative;
  }
  .banner-item {
    margin-top: -60px !important;
  }
  .navMenu {
    display: none;
    transition: all 1s ease-out;
  }
  .navMenu-mobile {
    position: relative;
    top: 10px;
    height: 150px;
    border-radius: 0px 0px 20px 20px;
    display: block;
    margin-top: 10px;
    list-style: none;
    background-color: #ffffff;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    transition: all 1s ease-out;
    z-index: 1;
  }
  .navMenu-mobile li {
    padding-top: 35px;
    text-align: center;
    transition: all 1s ease-out;
  }

  .mobile-menu {
    transition: all 1s ease-out;
    position: relative;
    display: block;
    float: right;
    margin-top: 20px;
    border: none;
    background: none;
    outline: none;
  }
}
